* {
  font-family: 'Helvetica', sans-serif;
  font-size: .9rem;
}

body {
  margin: 0;
  padding: 0;
}

.top_hidder {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--bg-color);
  z-index: 998;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 65%, transparent);
}

.bottom_hidder {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--bg-color);
  z-index: 998;
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 65%, transparent);
}

.bottom_space{
  padding-bottom: 10rem;
}



.floating_header {
  position: fixed; /* Hace que el header esté siempre visible en la parte superior */
  top: 2.5rem;       /* Margen superior para que parezca flotante */
  left: 7%;      /* Margen izquierdo */
  right: 7%;     /* Margen derecho */
  height: 3rem;    /* Altura del header */
  background-color: #333; /* Color de fondo del header */
  color: white;    /* Color del texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para efecto de flotante */
  border-radius: 1rem; /* Bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  /* add shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.396);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.right-link {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.left-link {
  flex: 1;
  padding-left: .5em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.841);
}


.center-buttons {
  display: flex;
  justify-content: center;
  flex: 2;
}

.center-buttons button {
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: .25rem;
}

.floating_footer {
  position: fixed; /* Hace que el footer esté siempre visible en la parte inferior */
  bottom: 2.25rem;       /* Margen inferior para que parezca flotante */
  left: 7%;      /* Margen izquierdo */
  right: 7%;     /* Margen derecho */
  height: 3rem;    /* Altura del footer */
  background-color: #333; /* Color de fondo del footer */
  color: white;    /* Color del texto */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para efecto de flotante */
  border-radius: 1rem; /* Bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.396);
}

hr{
  /* grosor */
  border: 1px solid #333;
  /* color */
  border-color: #333;
  margin-bottom: 2rem;
  
}

#strengths3{
  margin: 0;
}

#opportunities3{
  margin: 0;
}

#weaknesses3{
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}


#theme-switch {
  width: 3rem;
  height: 1.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffffb4;
  border-radius: 200px;
  box-shadow: insert 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.5s;
}

#theme-switch:after {
  content: '';
  width: 35%;
  height: 80%;
  left: 5%;
  top: 10%;
  position: absolute;
  background-color: rgb(61, 61, 61);
  border-radius: 180px;
  transition: 0.3s;
}

#checkbox_teme {
  width: 0;
  height: 0;
  visibility: hidden;
}

#checkbox_teme:checked+#theme-switch {
  background-color: rgb(255, 255, 255);
}

#checkbox_teme:checked+#theme-switch:after {
  left: 95%;
  transform: translateX(-100%);
  background: linear-gradient(180%, #777, #343434)
}

main {
  margin-top: 9rem;
  /* texto de tama;o de fuente 12 */
  font-size: 1rem;
}

form {
  max-width: 900px;
  margin: 0 auto;
}
details {
  padding: 10px;
  border: 1px solid #2f2f2f;
  border-radius: .5rem;
  margin: 10px 0;
}
summary {
  font-size: 1.2em;
  background-color: var(--bg-color);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

/* despues de que summary es clickeado agregale un margen abajo de 10px */
details[open] summary {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  background-color: var(--bg-color);
}

/* cuando el cursor esta escribiendo */
input[type="text"]:focus,
textarea:focus {
  border-color: blue;
}



/*  si .details-save se encuentra desaible   */
.details-save:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.details-save:enabled{
  background-color: #4CAF50;
  color: white;
}

button.save {
  background-color: #4CAF50;
  color: white;
}
button.update {
  background-color: #2196F3;
  color: white;
}
button.clear {
  background-color: #f44336;
  color: white;
}


/* cards */

.profile-icon {
  /* auto size */
  width: 1.5re;
  height: 100%;
  border-radius: 50%; /* Hace el contenedor circular */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor circular */
  border: none; /* Añade un borde opcional */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el área circular */
}

.autor_btn{
  justify-content: center;
  align-items: center;

}

button {
  padding: 6px 15px;
  margin-right: 10px;
  margin-left: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Componente flotante */
.floating-icon {
  position: fixed;
  bottom: 7rem;
  right: 8rem;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Cambia el cursor para indicar que es clicable */
}

/* Imagen dentro del icono */
.floating-icon img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

/* true cards */

.gallery-container {
  position: relative;
  width: 90%;
  height: 90%;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 3rem;
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.5s;
}

.image-item.enlarged {
  position: fixed;
  /* tamaño del alto de media paginad */
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 10;
}

.image-item.faded {
  /* efecto blur con baja saturacion */
  filter: blur(3px) saturate(0.5);
}

.description {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* agregar un background al texto para que sea legible */
  background: rgba(0, 0, 0, 0.9);
  padding: auto;
  font-size: 1.5rem;
  text-align: center;
  z-index: 11;
  display: none;
  padding: 12px;
  border-radius: 20px;
}

.image-item.faded + .description {
  display: block;
}